Gemfile.lock
Gemfile
_site/theme/js/popper.min.js
_site/theme/js/jquery-3.2.1.min.js
_site/2016/08/03/Logistic-Regression1.html
_site/2017/03/21/regression-dummycoding.html
_site/_resources/010-DataExtractFromFigures.html
_site/about.html
_site/assets/images/logistic-regression1.png
_site/feed.xml
_site/index.html
_site/list/posts.html
_site/list/projects.html
_site/list/resources.html
_site/projects/install.html
_site/projects/madeup.html
_site/projects/yetanother.html
_site/README.md
_site/resources/010-dataextractfromfigures.html
_site/theme/css/bootstrap.css
_site/theme/css/site.css
_site/theme/css/syntax.css
_site/theme/img/avatar.jpg
_site/theme/js/bootstrap.min.js
