---
title: Resources
show_skills: true
permalink: list/resources.html
---

<div class="d-md-block d-lg-none mb-3">
    {% include components/all-skills.html %}
</div>

<div id="currently-showing">
    <h2 class="d-flex align-items-center mb-3">
        <span class="text-secondary mr-2">Showing everything matching:</span>
        <span class="border rounded p-2 mr-2 bg-light text-secondary" id="active-keywords"></span>
        <a class="btn btn-primary btn-small" href="javascript:void(0)" onclick="clearkeywords()">clear</a>
    </h4>
</div>

{% assign sorted = site.resources | reverse %}

{% for portfolio in sorted %}
    {% include components/portfolio-card.html %}
{% endfor %}

<script type="text/javascript">

    var parseHash = function() {
        if (document.location.hash.length > 0) {
            var keywords = document.location.hash.slice(1)
            var name = $(".keywords-" + keywords).first().text()
            showPortfolioBykeywords(keywords, name)
        }
        else {
            clearkeywords()
        }
    }

    $(document).ready(parseHash)

    $(window).on('hashchange', parseHash)

    var showPortfolioBykeywords = function(keywords, name) {
        $("#currently-showing").show()
        $(".card-portfolio").hide()
        $(".keywords").removeClass("bg-warning")
            .addClass("bg-white")
            .removeClass("text-dark")
        $(".card-portfolio").each(function(idx, card) {
            var matches = $(card).find(".keywords-" + keywords)
            if (matches.length > 0) $(card).show()
        })
        $(".keywords-" + keywords).removeClass("bg-white")
            .addClass("bg-warning")
            .addClass("text-dark")
            .blur()
        $("#active-keywords").html(name)
    }

    var clearkeywords = function() {
        $("#currently-showing").hide()
        $(".card-portfolio").show()
        $(".keywords").removeClass("bg-warning")
            .addClass("bg-white")
            .removeClass("text-dark")
        document.location.hash = ""
    }

</script>
