<div class="sticky-top space-before">
    <div class="card bg-light mb-3">
        <div class="card-body">
            <div class="card-title">
                <h5>{{ page.time }}</h5>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <span class="mr-2 mb-1">keywords:</span>
                {% for keywords in page.keywords %}
                    <a href="{{ site.baseurl }}{% link list/resources.html %}#{{ keywords | slugify }}"
                       class="bg-white border rounded p-1 mr-1 mb-1 d-inline-block">
                        {{ keywords }}
                    </a>
                {% endfor %}
            </div>
            <div class="d-flex align-items-center mt-2">
                <span class="icon grey mr-1">
                    {% include entypo/arrow-left.svg %}
                </span>
                <a href="{{ site.baseurl }}{% link list/resources.html %}">Back to resoures</a>
            </div>
        </div>
    </div>
</div>
